services:
  app:
    build: ./auth
    ports:
      - "8080:8080"
    networks:
      - appnet
    depends_on:
      - db
  db:
    image: postgres:latest
    env_file:
      - .env
    networks:
      - appnet
  metabase:
    image: metabase/metabase:latest
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      MB_JETTY_PORT: 3000
    networks:
      - appnet
  bastion:
    build: ./bastion
    container_name: bastion
    ports:
      - "2222:22"
    networks:
      - appnet
    restart: unless-stopped
networks:
  appnet: