services:
  app:
    build: ./auth
    container_name: auth
    ports:
      - "8080:8080"
    networks:
      - appnet
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      APP_PORT: "8080"
      SECRET_KEY: ${SECRET_KEY:-secret-key}
  db:
    image: postgres:latest
    container_name: db
    env_file:
      - .env
    networks:
      - appnet
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}"]
      interval: 10s
      timeout: 3s
      retries: 5
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      MB_JETTY_PORT: 3000
    networks:
      - appnet
  bastion:
    build: ./bastion
    container_name: bastion
    ports:
      - "2222:22"
    networks:
      - appnet
    restart: unless-stopped
networks:
  appnet: