services:
  app:
    build: ./auth
    ports:
      - "8080:8080"
    networks:
      - appnet
  db:
    image: postgres:latest
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - appnet
  metabase:
    image: metabase/metabase:latest
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      MB_JETTY_PORT: 3000
    networks:
      - appnet

networks:
  appnet: